/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.forgot-password-container {
    max-width: 400px;
    margin: 149px auto;
    padding: 20px;
    background-color: #ffffff2f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.bg-video {
    position: fixed;
    right: 0px;
    bottom:-4px;
    min-width: 100%; 
    min-height: 50%;
    z-index: -1;
    object-fit: cover;
    object-position: 50%;
    
}

input[type="email"] {
    width: 64%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
